/* --------------------------------------------------------------------------
 * Name           : Crappo - Fastest & secure platform to invest in crypto
 * File           : style.scss
 * Version        : 1.0.0
 * Author         : Dzaki Fadhlurrohman
 * Author URI     : https://github.com/dzakifadh
 *
 * Dzakifadh. Copyright 2021. All Rights Reserved.
 * -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------

[Table of Contents]

1. Customization Bootstrap SASS Variables
2. Imported Bootstrap SASS Variables
3. Theming SASS Variable
4. General Setting
5. Hamburger Menu
-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
1. Customization Bootstrap SASS Variables
-------------------------------------------------------------------------- */

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1320px,
);

$blue: #3671e9;
$cyan: #42ffff;

$h1-font-size: 60px;
$h2-font-size: 40px;
$h3-font-size: 32px;
$h4-font-size: 28px;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$new-spacers: (
  6: $spacer * 4,
  7: $spacer * 5,
);
$spacers: map-merge($spacers, $new-spacers);

/* --------------------------------------------------------------------------
2. Imported Bootstrap SASS Variables
-------------------------------------------------------------------------- */

// Configuration
@import '../src/style/scss/functions';
@import '../src/style/scss/variables';
@import '../src/style/scss/mixins';
@import '../src/style/scss/utilities';

// Layout & components
@import '../src/style/scss/root';
@import '../src/style/scss/reboot';
@import '../src/style/scss/type';
@import '../src/style/scss/images';
@import '../src/style/scss/containers';
@import '../src/style/scss/grid';
@import '../src/style/scss/forms';
@import '../src/style/scss/buttons';
@import '../src/style/scss/transitions';
@import '../src/style/scss/dropdown';
@import '../src/style/scss/navbar';
@import '../src/style/scss/card';

// Helpers
@import '../src/style/scss/helpers';

// Utilities
@import '../src/style/scss/utilities/api';

/* --------------------------------------------------------------------------
3. Theming SASS Variable
-------------------------------------------------------------------------- */
$dark: #0d0d2b;
$dark-soft: #2b076e;
$dark-soft-100: #35068c;
$light: #fff;
$gray: #e0e0e0;
$gray-100: #828282;
$border-crappo-lg: 32px;
$border-crappo-md: 16px;
$default-ls: 0.01em;
$letter-spacing: 0.04em;
/* --------------------------------------------------------------------------
4. General Setting
-------------------------------------------------------------------------- */
// * {
//   // border: 1px solid red;
// }
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Rubik', sans-serif;
  background-color: $dark;
  color: $light;
  font-weight: $font-weight-light;
  letter-spacing: $letter-spacing;
}
a {
  color: $light;
  text-decoration: none;
}
.btn-crappo-size {
  padding: 16px 30px;
}
.btn-icon-crappo-size {
  padding: 14px 14px 14px 22px;
}
p {
  letter-spacing: $default-ls;
}
.label {
  &-outer {
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 20px 6px 6px;
    overflow: hidden;
  }
  &-inner {
    color: $dark;
    padding: 8px 20px;
  }
}
.rounded-crappo {
  border-radius: $border-crappo-lg;
}
.pointer {
  cursor: pointer;
}
.text-dark {
  color: $dark;
}
.text-gray {
  color: $gray-100;
}
.fw-500 {
  font-weight: $font-weight-normal;
}
.fs-18 {
  font-size: 18px;
}
.opacity-50 {
  opacity: 0.5;
}
::-webkit-scrollbar-track {
  background-color: $dark;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: $border-crappo-md;
  background-color: $blue;
  border: 2px solid $blue;
}
#element {
  &-1 {
    top: -35%;
    left: 7%;
  }
  &-2 {
    top: -52%;
    left: 65%;
  }
  &-3 {
    top: 20%;
    right: 0;
  }
  &-4 {
    bottom: 12%;
    right: 0;
  }
  &-5 {
    left: -45%;
    bottom: -25%;
  }
  &-6 {
    top: -26%;
    left: 10%;
  }
  &-7 {
    bottom: 30%;
    right: -30%;
  }
}
.z-index-1 {
  z-index: 1;
}
.h-fullscreen {
  height: 100vh;
}
#percentage {
  width: 36px;
  display: inline-block;
}
.translateY-40 {
  transform: translateY(-40px);
}
.opacity-0 {
  opacity: 0;
}
/* --------------------------------------------------------------------------
5. Hamburger Menu
-------------------------------------------------------------------------- */
.hamburger-container {
  width: 25px;
  height: 20px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  span {
    background: #323b43;
    display: block;
    position: absolute;
    height: 3px;
    transform: rotate(0deg);
    transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 1;
    width: 100%;
    border-radius: 25px;
  }
}

.hamburger {
  span {
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 0px;
    }
    &:nth-child(4) {
      top: 16px;
    }
  }
}

#hamburger-menu {
  display: none;
  &:checked {
    + {
      label {
        > div {
          > span {
            &:nth-child(1) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
          }
        }
      }
    }
  }
}
/* --------------------------------------------------------------------------
6. Menu Navbar
-------------------------------------------------------------------------- */
.navbar-nav {
  .nav-item:not(:last-child) {
    margin-right: 32px;
  }
}
.login-register {
  font-weight: 600;
  position: relative;
  margin-left: 30px;
  a:first-child {
    margin-right: 50px;
    &::after {
      position: absolute;
      content: '';
      height: 26px;
      width: 2px;
      background-color: #f2f2f2;
      left: 31.5%;
      top: 25%;

      opacity: 0.3;
    }
  }
}

#shrink-navbar {
  padding: 45px 0;
  transition: 0.4s;
}
.scrolled-navbar {
  background: $dark;
  box-shadow: 0 -4px 15px rgb(13, 13, 43);
}
#hero {
  padding-top: 1rem * 10;
}
/* --------------------------------------------------------------------------
7. Why
-------------------------------------------------------------------------- */
.why-item {
  .icon-wrapper {
    background: rgba(255, 255, 255, 0.1);
  }
}

/* --------------------------------------------------------------------------
8. Earning & Cryptocurrencies
-------------------------------------------------------------------------- */
.card-earning {
  border-radius: $border-crappo-md;
  margin-bottom: -185px;
  box-shadow: 0 20px 100px rgba(57, 23, 119, 0.1);
}

.form-group-custom {
  position: relative;
  .input-material {
    font-size: 18px;
    height: 40px;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $gray;
    color: $dark;
    &:focus {
      outline: none;
    }
  }
  .select-mater ial {
    @extend .input-material;
  }

  .label-input {
    color: $dark;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 0;
    line-height: 40px;
    transition: 0.2s ease all;
  }

  .label-select-option {
    @extend .label-input;
  }

  .input-material {
    &:focus,
    &:valid {
      ~ {
        .label-input {
          top: -26px;
          font-size: 12px;
          color: $blue;
        }
      }
    }
  }
  .select-material {
    @extend .input-material;
  }

  .bar-before-after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $blue;
    transition: 0.2s ease all;
  }
  .bar {
    position: relative;
    display: block;
    width: 100%;
    &::before {
      left: 50%;
      @extend .bar-before-after;
    }
    &::after {
      right: 50%;
      @extend .bar-before-after;
    }
  }

  .input-material {
    &:focus {
      ~ {
        .bar {
          &:before {
            width: 50%;
          }
          &:after {
            width: 50%;
          }
        }
      }
    }
  }

  .select-material {
    @extend .input-material;
  }
}

/* --------------------------------------------------------------------------
9. Trade Securely
-------------------------------------------------------------------------- */
.trade-securely {
  background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
  padding: 320px 0 100px;
}
.dark-soft {
  background: $dark-soft;
}
.card-coin {
  box-shadow: 0px 40px 40px #eadfff87;
  border-radius: $border-crappo-md;
  padding: 50px 24px;
  h3 {
    span {
      transform: translateY(-5px);
    }
  }
  p {
    line-height: 28px;
  }
}

$gutters: (
  2: 14px,
  3: 7px,
  4: 14px,
);

@each $gutter, $i in $gutters {
  .col-card-coin {
    &:nth-child(#{$gutter}) {
      .card-coin {
        margin: 0 $i;
      }
    }
  }
}
/* --------------------------------------------------------------------------
10. Features
-------------------------------------------------------------------------- */
.card-features {
  background-color: $dark-soft-100;
  font-family: 'Inter', sans-serif;
  padding: 40px;
  border-radius: $border-crappo-md;
  .crypto {
    &-data {
      h4 {
        span {
          transform: translateY(-5px);
        }
      }
    }
    &-chart {
      img {
        width: 100%;
      }
    }
  }
}
.counter {
  color: $cyan;
}
@mixin floating-features-card {
  font-family: 'Inter', sans-serif;
  backdrop-filter: blur(250px);
  background: #491f98;
  border-radius: $border-crappo-md;
}
.pricing {
  &-update {
    @include floating-features-card();
    padding: 26px 18px;
    width: 178px;
    height: 184px;
    left: 12%;
    bottom: -40%;
    h5 {
      font-size: 1rem * 1.25;
    }
    .up-down {
      font-size: 1rem * 1.5;
    }
    img {
      width: 1rem;
    }
  }
  &-dollar {
    @include floating-features-card();
    padding: 16px 32px;
    bottom: -11.5%;
    right: 10%;
  }
}
.features-img {
  transform: translateX(-90px);
}
.features-1 {
  margin-top: 100px;
}
.features-2 {
  margin-top: 200px;
  img {
    width: 100%;
  }
}
.features-3 {
  margin-top: 120px;
  img {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------
11. CTA & Footer
-------------------------------------------------------------------------- */
.cta {
  background: linear-gradient(180deg, #2b076e 0%, #0d0d2b 100%);
}
.card-cta {
  background: $blue;
  padding: 40px;
  border-radius: $border-crappo-md;
  overflow-y: hidden;
  .form-group-custom {
    width: 374px;
    input {
      font-size: 18px;
    }
    .bar {
      &::before {
        background: $light;
      }
      &::after {
        background: $light;
      }
    }
  }
  .input-material {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    color: $light;
    .bar-before-after {
      background: $light;
    }
  }
  img {
    &:nth-child(1) {
      top: 0;
      left: 5%;
    }
    &:nth-child(2) {
      bottom: 0;
      right: 5%;
    }
  }
}

.crypto-cards {
  img {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.media-social {
  li {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
.footer-anim,
.footer-anim-bottom {
  opacity: 0;
}
